*{
    box-sizing: border-box;
    
}
h1{
    text-align: center;
}

#div1, #div2, #div3{
    border: 3px solid black;
    background-color: aqua;
    height: 100px;
    width: 90%;
    padding: 0px,0px,0px,10px;
}
#sec1{
    text-align: end;
    font-weight: bold;
    border: 3px solid black;
    background-color: pink;
}

#sec2{
    text-align: end;
    font-weight: bold;
    border: 3px solid black;
    background-color: red;
}

#sec3{
    text-align: end;
    font-weight: bold;
    border: 3px solid black;
    background-color: yellow;
}

p
{
    font-family:Helvetica;
    padding-left: 10px;
}

/* Responsive FrameWork */
div
{
    width: 100%;
}

/*****Large Devices Only*****/
@media (min-width: 992px) {
    div
    {
        float: left;
        margin-top: 60px;
        margin-left: 50px;
    }
    #div1, #div2, #div3
    {
        width: 25%;
        height: 10em;
        margin-right: 25px;  
    }
    #sec1, #sec2, #sec3
    {
        margin-left: 250px;
        text-align: center;
    }
}

/*****Medium Devices Only*****/
@media (min-width: 768px) and (max-width: 991px)
{
    div
    {
        float: left;
    }
    #div1
    {
        height: 50%;
        width: 44%;
    }
    #div2
    {
        margin-left: 5px;
        height: 50%;
        width: 44%;
    }
    #div3
    {
        margin-top: 5px;
        width: 100%;
    }
    #sec1, #sec2
    {
        margin-left: 250px;
        text-align: center;
    }
    #sec3
    {
        margin-left: 500px;
        text-align: center;
    }
}

/*****Small Medium Device only*****/
@media (max-width: 767px)
{
    div
    {
        float: left;
    }
    #div1, #div2, #div3
    {
        margin-top: 10px;
    }
    #sec1, #sec2, #sec3
    {
        margin-left: 500px;
        text-align: center;
    }
}